.total-expense-per-category {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.total-expense-category-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.category {
  font-size: 14px;
  margin: 0;
  font-weight: lighter;
}

.total {
  font-weight: bold;
}
